@media (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

/* Hide the 'Made with Hugo Blox' footer text */
.powered-by {
  display: none !important;
}
